/*======navbar=====*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	transition: .3s;
}
header{
	position: relative;
	width: 100%;
}
.top{
	background: #fe9801;
    height:40px;
    line-height:40px;
}
.container{
	position: relative;
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top ul li{
	margin-right: 15px;
}
.top ul li a{
    color: #fff;
}
.top ul li a:hover{
	color: #222;
}
nav{
	background: transparent;
	position: relative;
    height:65px;
    line-height:65px;
    z-index: 10;
    border-bottom: 1px solid black;
}
.container .logo img{
	position: absolute;
	width: 70px;
	height: 70px;
	top: -5px;
	left: 45%;
}
nav ul{
	width: 100%;
	transition: .3s;
}
nav ul li:nth-child(4){
	margin-left: 250px;
}
nav ul li a{
	color: #000;
	font-weight: bold;
}
nav ul li a:hover{
	color: #fe9801;
}
#menu{
	display: none;
}
label{
	color: #000;
	font-size: 1.2em;
	padding: 15px 0;
	display: none;
}
@media (max-width: 960px){
	label{
		display: block;
	}
	.container{
		padding: 0 40px;
	}
	.social li:nth-child(1),
	.social li:nth-child(2){
		display: none;
	}
	.logo{
		left: 38%;
		top: -40px;
	}
	.logo img{
		width: 150px;
	}
	nav{
		padding: 0;
	}
	nav ul{
		position: absolute;
		top: 50px;
		left: -100%;
		background: #000;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100vh;
	}
	#menu:checked ~ ul{
		left: 0;
	}
	nav ul li{
		margin: 0 !important;
		width: 100%;
	}
	nav ul li a{
		border: 1px solid #fe9801;
		padding: 10px 0;
		margin: 10px 0;
        text-align: center;
        color: #fff;
	}
	nav ul li a:hover{
        background: #fe9801;
        color: #000;
	}
}
@media (max-width: 460px){
	.logo{
		top: -30px;
	}
	.logo img{
		width: 100px;
	}
}

/*===== sign in======*/

/*========== blog section===========*/
.section{
    background: #f1f1f1;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-img {
      position:relative;
  }
  
  .blog-img img {
      width:100%;
  }
  
  .blog-day {
      position: absolute;
      top: 0;
      width: 90px;
      height: 90px;
      background: #f36700;
      text-align: center;
      z-index:10;
  }
  .blog-content{
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
  .blog-content h3{
      text-align: center;
  }
  .blog-day span {
      color: #FFF;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
      right: 0;
      font-weight: 700;
  }
  
  .blog-day:after , .blog-day:before {
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      position:absolute;
      bottom:-20px;
  }
  
  .blog-day:after {
      left:0;
      border-width: 20px 60px 0 0;
      border-color: #f36500 transparent transparent;
  }
  
  .blog-day:before {
      right:0;
      border-width: 0 60px 20px 0;
      border-color: transparent #f36500 transparent ;
  }
  
  .blog-meta {
      position:absolute;
      top:0;
      left:0;
      right:0;
      padding-left:105px;
      padding-top: 15px;
      padding-bottom: 80px;
      background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(transparent));
      background: -webkit-linear-gradient(top, #151515 0%, transparent 100%);
      background: -o-linear-gradient(top, #151515 0%, transparent 100%);
      background: linear-gradient(to bottom, #151515 0%, transparent 100%);
  }
  
  .blog-meta li {
      display:inline-block;
      color:#FFF;
  }
  
  .blog-meta li + li {
      margin-left:15px;
  }
  
  .blog-meta li i {
      color:#f36500;
      margin-right:5px;
  }
  
  /* --- blog tags --- */
  .blog-tags {
      text-align:center;
      margin:20px 0px 30px;
  }
  
  .blog-tags a {
      display: inline-block;
      padding: 8px 25px;
      margin-top:5px;
      margin-right:2px;
      border-radius: 40px;
      background: #151515;
      color: #FFF;
      text-transform: capitalize;
      font-size: 14px;
  }
  
  .blog-tags a:hover {
      color:#f36500;
  }
  
  /* --- blog share --- */
  .blog-share {
      text-align:center;
      margin:20px 0px 30px;
  }
  
  .blog-share a {
      display:inline-block;
      padding:8px 25px;
      margin-top:5px;
      margin-right:2px;
      background-color:#F9F9F9;
      color:#FFF;
      -webkit-transition:0.2s opacity;
      transition:0.2s opacity;
  }
  
  .blog-share a i {
      margin-right:10px;
  }
  
  .blog-share a.twitter {
      background-color:#55acee;
  }
  
  .blog-share a.facebook {
      background-color:#3b5998;
  }
  
  .blog-share a.google {
      background-color:#dd4b39;
  }
  
  .blog-share a:hover {
      opacity:0.8;
  }
  
  /* --- blog nav --- */
  .blog-nav{
      width: 1000px;
      margin-right: auto;
      margin-left: auto;
  }
  .blog-nav .blog-previous , .blog-nav .blog-next {
      position:relative;
      min-height:120px;
  }
  
  .blog-nav .blog-previous img , .blog-nav .blog-next img {
      position:absolute;
      top:0;
  }
  
  .blog-nav .blog-previous img {
      left:0;
  }
  .blog-nav .blog-next img {
      right:0;
  }
  
  .blog-nav .blog-previous div , .blog-nav .blog-next div {
      padding-top:5px;
  }
  
  .blog-nav .blog-previous div {
      padding-left:135px;
  }
  
  .blog-nav .blog-next div {
      padding-right:135px;
      text-align:right;
  }
  
  .blog-nav .blog-previous div span , .blog-nav .blog-next div span {
      font-family:'Dancing Script', cursive;
  }
  
  /* --- blog comments --- */
  .blog-comments {
      margin: 30px 0px;
  }
  
  .blog-comments .media {
      padding: 30px 15px;
      border:1px solid #ECECEC;
      background-color:#F9F9F9;
  }
  
  .blog-comments .media .media {
    background-color:#FFF;
    width: 600px;
    height: 150px;
    margin-right: 0;
  }
  
  .blog-comments .media .media-heading h4 {
      margin-top:0px;
  }
  
  /* --- blog reply form --- */
  .blog-reply-form .input {
    display:block;
    height: 40px;
      max-width:600px;
    margin-bottom:20px;
    border: 1px solid gray;
    border-radius: 0.5rem;
    color: black;
    margin-right: auto;
    margin-left: auto;
  }
  .blog-reply-form form{
    border: 1px solid black;
    border-radius: 0.8rem;
    margin-bottom: 20px;
  }
  
  .blog-reply-form .title{
    color: #fe9801;
  }
  
  .blog-reply-form textarea.input {
      max-width:600px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .copyright a {
      color: #999;
  }
  .copyright a:hover {
      color: #F9F9F9;
  }
  
  /*===============end of blog section================*/
