@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
  text-decoration: none;
}
/*========start of sign-in===========*/
.wrap {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.containerr {
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
  min-height: 480px; 
  margin-left: 350px;
  margin-bottom: 50px;
}

.form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
  text-align: center;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
  border: 1px solid #f08902;
  color: #000;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.form-container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
  margin: 8px 0;
  border-radius: 5px;
  width: 100%;
}

.form-container button {
	border-radius: 20px;
	border: 1px solid #fe9801;
	background-color: #fe9801;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
} 

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #fe9801;
	background: -webkit-linear-gradient(to right, #fdc134, #fe9801);
	background: linear-gradient(to right, #fdc134, #fe9801);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay button{
  border-radius: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
}



.containerr.right-panel-active .sign-in-container {
	transform: translateX(100%);
}


.containerr.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}


.containerr.right-panel-active .overlay-container{
	transform: translateX(-100%);
}



.containerr.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.containerr.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.containerr.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.open-button {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 350px;
  width: 190px;
  height: 41px;
  line-height: 40px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
}
button.cancel{
  position: absolute;
  font-size: 60px;
  cursor: pointer;
  color: #e79702;
  top: -40px;
  right: 50px;
}
button.cancel:hover{
  color: #d42405;
}

/*========End of sign-in===========*/
 
body{
    font-family: 'Lato', sans-serif;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background: #e79702;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: #000;
}
.phone a{
    color:#000;
    font-size: 14px;
    font-weight: bold;
}
.reg{
    width: 50%;
    text-align:right;
}
.reg a{
    color:#000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.social-icon{
    display: inline-block;
    width: 50%;
    
}
.social-icon p{
    display:block;
    width: 100%;

}
.social-icon p a{
    height: 30px;
    margin-right: 13px;
}
.social-icon p a i{
    font-size: 18px;
    color: #000;
}
.social-icon p a:hover{
    background: #f8aa02;
    border-color: #f8aa02;
}
.social-icon p a:hover i{ 
    color:#fff;
}
/*==========Navbar=============*/
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  border-bottom: 1px solid black;
}
nav .logo img{
  width: 150px;
  height: 60px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fe9801;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #000;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #fff;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid black;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #000;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #000;
  font-size: 17px;
  background: #fe9801;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #f08902;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #fe9801;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #fff;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}

nav .logo.space{
  color: #f08902;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}

/*========End of Navbar===========*/
/*==========Hero Section===========*/
#hero{
    display:table;
    width: 100%;
    height: 100vh;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}

#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero .hero-container{
    display: table-cell;
    margin: 0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 85px;
}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2{
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
  }
}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}
#hero .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
/*==========End of Hero Section===========*/
/* Shop Topbar */
.shop .shop-top {
	clear: both;
	background: #f6f7fb;
	padding: 18px 20px 50px 20px;
}
.shop .shop-shorter {
	float: left;
}
.shop .single-shorter {
	display: inline-block;
	margin-right: 10px;
}
.shop .single-shorter:last-child{
	margin:0;
}
.shop .single-shorter label {
	display: inline-block;
	float: left;
	margin: 4px 5px 0 0;
	font-weight:500;
}
.shop .single-shorter option{}
.shop .nice-select {
	clear: initial;
	display: inline-block;
	margin: 0;
	border: 1px solid #e6e6e6;
	border-radius: 0px;
	height: auto;
	width: auto;
	border-radius: 0px;
}
.shop .nice-select::after{
	border-color:#888;
}
.shop .nice-select .list {
	border-radius:0px;
}
.shop .nice-select .option.selected {
	font-weight: 500;
}
.shop .nice-select .list li{
	color:#666;
	border-radius:0px;
}
.shop .nice-select .list li:hover{
	background:#F7941D;
	color:#fff;
}
.shop .view-mode {
	float: right;
}
.shop .view-mode li {
	display: inline-block;
	margin-right: 5px;
}
.shop .view-mode li:last-child{
	margin:0;
}
.shop .view-mode li a {
	width: 43px;
	height: 32px;
	background: transparent;
	border: 1px solid #77777775;
	text-align: center;
	display: block;
	line-height: 32px;
	color: #888;
	border-radius: 0px;
}
.shop .view-mode li.active a,
.shop .view-mode li:hover a {
	background: #F7941D;
	color:#fff;
	border-color:transparent;
}



/*==========Product  Section===========*/
.bg-img{
    background:#000;
  }
  .text-color{
    color: #fe9801;
  }
  .product-section h2{
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }
  .product {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all 0.3s ease; }
  
    .product .img {
      display: block;
      border-radius: 4px;
      height: 350px;
      position: relative;
      transition: all 0.3s ease;
      z-index: 0; }
      .product .img:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #000;
        opacity: 0;
        border-radius: 4px;
        transition: all 0.6s ease; }
      .product .img .icons {
       transition: all 0.3s ease;
        opacity: 0; }
        .product .img .icons .icon-block a {
          margin: 0 2px;
          width: 60px;
          height: 60px;
          border: 1px solid rgba(255, 255, 255, 0.5); }
          .product .img .icons .icon-block a i {
            color: #fff; }
        .product .text {
      padding: 20px;
      position: relative; }
      .product .text .out, .product .text .day, .product .text .week {
        position: absolute;
        top: 0;
        left: 4px;
        font-size: 12px;
        padding: 0 10px;
        color: #fff; }
      .product .text .out {
        background: #b7472a; }
      .product .text .day {
        background: #fe9801; }
      .product .text .week {
        background: #01d28e; }
      .product .text h2 {
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 300; }
      .product .text .category {
        font-style: italic;
        color: #fe9801; }
      .product .text .price {
        font-style: italic;
        color: #fff; }
        .product:hover .img:after {
            opacity: .7; }
          .product:hover .img .icons {
            opacity: 1; }
  
  .glow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
  }
  .glow:hover, .glow:focus, .glow:active {
    box-shadow: 1px 1px 8px rgb(236, 117, 5);
  }
   .btn-prod{
       display:inline-block;
       vertical-align: middle;
       color: #fe9801!important;
       transform: perspective(1px) translateZ(0);
       box-shadow: 0 0 1px rgb(236, 117, 5);
       position: relative;
       overflow: hidden;
   }   
   .btn-prod:before{
       content:"";
       position: absolute;
       z-index: -1;
       left: 51%;
       right: 51%;
       top: 0;
       background: #fe9801;
       height: 4px;
       transition-property: left, right;
       transition-duration: 0.3s;
       transition-timing-function: ease-out;
   }

   .btn-prod:hover:before, .btn-prod:focus:before,
   .btn-prod:active:before{
       left:0;
       right: 0;
   }
/*==========End of Product Section===========*/

/*==========start of menu Section===========*/
.portfolio-area{
  padding:60px 0px;
  background:#f1f1f1;
}
.portfolio-area h2{
  text-align: center;
  margin-bottom:40px;
  font-size:45px;
  color: #fe9801;
  font-style: italic;
  font-weight: 700;
}
.controls button:focus{
  outline: none;
}
.single-item{
  display: inline-block;
  vertical-align: middle;
  width:25%;
  margin:-2px;
  position: relative;
}
.img-thumbnail img{
  width:100%;
}
.img-content{
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  background:#00000078;
  transition: .4s;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: center center;
  opacity:0;
  visibility: hidden;
}
.single-item:hover .img-content{
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.img-content h2{
  color:#fe9801;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom:10px;
}
.img-content p{
  color:#fff;
  font-size: 18px;
  padding:0px 25px;
}
.img-content a {
  margin: 0 2px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5); 
}
 .img-content a i {
    color: #fff; 
}

/*Controls CSS*/
button:focus{
  outline: none;
}
.controls{
  text-align: center;
  margin-bottom: 50px;
}
.controls button{
  background: #000;
  border:none;
  color:#fff;
  font-size:16px;
  text-transform: uppercase;
  font-weight: 600;
  padding:10px 23px;
  margin-bottom: 5px;
  transition: .4s;
}
.controls button:hover, button.mixitup-control-active{
  background: #fe9801;
  cursor:pointer;
}

/* Responsive CSS */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  .single-item{
      width:100%;
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
  .single-item{
      width:50%;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
  .single-item{
      width:33.33%;
  }
  
}



/*==========End of menu Section===========*/

/*========== Team  Section===========*/
.team-area{
  padding:60px 0px;
  background: #fff;
}
.team-area h2{
  text-align: center;
  margin-bottom:40px;
  font-size:45px;
  color: #fe9801;
  font-style: italic;
  font-weight: 700;
}
  .team-img img{
    width: 100%;
    height: 100%;
  }
  
  .heading-title {
    margin-bottom: 100px;
  }
  .text-center {
    text-align: center;
  }
  .heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .p-top-30 {
    padding-top: 30px;
  }
  .half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #d3cdcd;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .team-member,
  .team-member .team-img {
    position: relative;
  }
  .team-member {
    overflow: hidden;
  }
  .team-member,
  .team-member .team-img {
    position: relative;
  }
  
  .team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .team-member:hover .team-hover .desk {
    top: 35%;
  }
  .team-member:hover .team-hover,
  .team-member:hover .team-hover .desk,
  .team-member:hover .team-hover .s-link {
    opacity: 1;
  }
  .team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
  }
  .desk,
  .desk h4,
  .team-hover .s-link a {
    text-align: center;
    color: #222;
  }
  .team-member:hover .team-hover .s-link {
    bottom: 10%;
  }
  .team-member:hover .team-hover,
  .team-member:hover .team-hover .desk,
  .team-member:hover .team-hover .s-link {
    opacity: 1;
  }
  .team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
  }
  .desk,
  .desk h4,
  .team-hover .s-link a {
    text-align: center;
    color: #222;
  }
  .team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
  }
  .team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
  }
  .team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
  }
  .team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
  }
  
/*==========End of  Team  Section===========*/
/*==========Subscription Section===========*/
#subscribe{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(./images/subscribe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}
#subscribe h4{
    font-size: 25px;
    font-weight: bold;
}
#subscribe .from-control{
    background: transparent;
    font-size: 20px;
}
#subscribe .form-btn{
    font-size: 20px;
    background: #e79702;
    border: 3px solid #fe9801;
}
/*==========End of  Subscription Section===========*/

/*==========event Section===========*/
.event-section{
  background:#f1f1f1;
  min-height: 100vh;
}
.event-section h2{
  text-align: center;
  margin-bottom:40px;
  font-size:45px;
  color: #fe9801;
  font-style: italic;
  font-weight: 700;
  padding-top: 35px;
}
.event {
	position:relative;
	margin:35px 0px;
}

.event .event-img {
	position:absolute;
	left:0;
	top:0;
	width: 170px;
}

.event .event-img img {
	width:100%;
}

.event .event-day {
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	background: #f36700;
	text-align: center;
}

.event .event-day span {
	color: #FFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: 700;
}

.event  .event-day:after , .event  .event-day:before{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	position:absolute;
	bottom:-20px;
}

.event  .event-day:before {
	left:0;
	border-width: 20px 60px 0 0;
	border-color: #f36500 transparent transparent;
}

.event  .event-day:after {
	right:0;
	border-width: 0 60px 20px 0;
	border-color: transparent #f36500 transparent;
}

.event .event-content {
	min-height: 160px;
	padding-left: 175px;
}

.event .event-content h3 {
  margin-top:5px;
  text-transform: uppercase;
}

.event .event-content p {
  margin-top:15px;
}

/*==========End of  event Section===========*/

/*========== blog section===========*/
.section{
  background: #f1f1f1;
}
.blog-img {
	position:relative;
}

.blog-img img {
	width:100%;
}

.blog-day {
	position: absolute;
	top: 0;
	width: 90px;
	height: 90px;
	background: #f36700;
	text-align: center;
	z-index:10;
}

.blog-day span {
	color: #FFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: 700;
}

.blog-day:after , .blog-day:before {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	position:absolute;
	bottom:-20px;
}

.blog-day:after {
	left:0;
	border-width: 20px 60px 0 0;
	border-color: #f36500 transparent transparent;
}

.blog-day:before {
	right:0;
	border-width: 0 60px 20px 0;
	border-color: transparent #f36500 transparent ;
}

.blog-meta {
	position:absolute;
	top:0;
	left:0;
	right:0;
	padding-left:105px;
	padding-top: 15px;
	padding-bottom: 80px;
	background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(transparent));
	background: -webkit-linear-gradient(top, #151515 0%, transparent 100%);
	background: -o-linear-gradient(top, #151515 0%, transparent 100%);
	background: linear-gradient(to bottom, #151515 0%, transparent 100%);
}

.blog-meta li {
	display:inline-block;
	color:#FFF;
}

.blog-meta li + li {
	margin-left:15px;
}

.blog-meta li i {
	color:#f36500;
	margin-right:5px;
}

/* --- blog tags --- */
.blog-tags {
	text-align:center;
	margin:20px 0px 30px;
}

.blog-tags a {
	display: inline-block;
	padding: 8px 25px;
	margin-top:5px;
	margin-right:2px;
	border-radius: 40px;
	background: #151515;
	color: #FFF;
	text-transform: capitalize;
	font-size: 14px;
}

.blog-tags a:hover {
	color:#f36500;
}

/* --- blog share --- */
.blog-share {
	text-align:center;
	margin:20px 0px 30px;
}

.blog-share a {
	display:inline-block;
	padding:8px 25px;
	margin-top:5px;
	margin-right:2px;
	background-color:#F9F9F9;
	color:#FFF;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.blog-share a i {
	margin-right:10px;
}

.blog-share a.twitter {
	background-color:#55acee;
}

.blog-share a.facebook {
	background-color:#3b5998;
}

.blog-share a.google {
	background-color:#dd4b39;
}

.blog-share a:hover {
	opacity:0.8;
}

/* --- blog nav --- */
.blog-nav .blog-previous , .blog-nav .blog-next {
	position:relative;
	min-height:120px;
}

.blog-nav .blog-previous img , .blog-nav .blog-next img {
	position:absolute;
	top:0;
}

.blog-nav .blog-previous img {
	left:0;
}
.blog-nav .blog-next img {
	right:0;
}

.blog-nav .blog-previous div , .blog-nav .blog-next div {
	padding-top:5px;
}

.blog-nav .blog-previous div {
	padding-left:135px;
}

.blog-nav .blog-next div {
	padding-right:135px;
	text-align:right;
}

.blog-nav .blog-previous div span , .blog-nav .blog-next div span {
	font-family:'Dancing Script', cursive;
}

/* --- blog comments --- */
.blog-comments {
	margin: 30px 0px;
}

.blog-comments .media {
	padding: 30px 15px;
	border:1px solid #ECECEC;
	background-color:#F9F9F9;
}

.blog-comments .media .media {
  background-color:#FFF;
  width: 600px;
  height: 150px;
  margin-left: 100px;
}

.blog-comments .media .media-heading h4 {
	margin-top:0px;
}

/* --- blog reply form --- */
.blog-reply-form .input {
  display:block;
  height: 40px;
	max-width:600px;
  margin-bottom:20px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  color: black;
  margin-right: auto;
  margin-left: auto;
}
.blog-reply-form form{
  border: 1px solid black;
  border-radius: 0.8rem;
  margin-bottom: 20px;
}

.blog-reply-form .title{
  color: #fe9801;
}

.blog-reply-form textarea.input {
	max-width:600px;
  margin-right: auto;
  margin-left: auto;
}

.copyright a {
	color: #999;
}
.copyright a:hover {
	color: #F9F9F9;
}

/*===============end of blog section================*/

/*===========start of reservation========*/
.container1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 920px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #fe9801;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #fe9801);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fe9801;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

.input1 {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #000;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 50px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.contact-form .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #fe9801;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.contact-form .btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #fe9801;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #fe9801;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #fe9801, #fcc74c);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #fe9801;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
/*=============== end of reservation ==========*/

/*==========start of footer Section===========*/


/*==========End of  footer Section===========*/




















